Repository googleapis/nodejs-redis, pull requests merged in 2020-11, with the labels that each got.

#444 build(node): add KOKORO_BUILD_ARTIFACTS_SUBDIR to env
  .kokoro/trampoline_v2.sh
  synth.metadata
Labels: api: redis, automerge, cla: yes, context: full

#447 fix: do not modify options object, use defaultScopes
  package.json
  src/index.ts
  src/v1/cloud_redis_client.ts
  src/v1beta1/cloud_redis_client.ts
  synth.metadata
  system-test/fixtures/sample/src/index.ts
  system-test/install.ts
Labels: api: redis, automerge, cla: yes

#449 fix(browser): check for fetch on window
  protos/protos.json
  src/v1/cloud_redis_client.ts
  src/v1beta1/cloud_redis_client.ts
  synth.metadata
Labels: api: redis, cla: yes, context: none

#451 docs: spelling correction for "targetting"
  README.md
  synth.metadata
Labels: api: redis, automerge, cla: yes, context: full
